:root {
    /* dynamic styling */
    --p-sm-bk: 465px;
    --p-md-bk: 768px;
    --p-lg-bk: 1024px;
    --p-xl-bk: 1400px;

    --p-sm-mg: 2rem;
    --p-md-mg: 4rem;
    --p-lg-mg: 8rem;
    --p-xl-mg: 16rem;
    
    /* black shades */
    --p-black-0: #070707;
    --p-black-1: #1e1e1e;
    --p-black-2: #2c2c2c;
}

/*
Breakpoints
================================================================================
*/

@media screen and (max-width: var(--p-sm-bk)) {
    .p-page {
        width: calc(100vw - 2 * var(--p-sm-mg));
    }
}

@media screen and (max-width: var(--p-md-bk)) {
    .p-page {
        width: calc(100vw - 2 * var(--p-md-mg));
    }
}

@media screen and (max-width: var(--p-lg-bk)) {
    .p-page {
        width: calc(100vw - 2 * var(--p-lg-mg));
    }
}

@media screen and (max-width: var(--p-xl-bk)) {
    .p-page {
        width: calc(100vw - 2 * var(--p-xl-mg));
    }
}

/*
Layouts
================================================================================
*/

.p-col,
.p-row {
    display: flex;
}

.p-col {
    flex-direction: column;
}

.p-row.p-row-v-start {
    align-items: flex-start;
}

.p-row.p-row-v-end {
    align-items: flex-end;
}

.p-row.p-row-v-center {
    align-items: center;
}

.p-row.p-row-h-start {
    justify-content: flex-start;
}

.p-row.p-row-h-end {
    justify-content: flex-end;
}

.p-row.p-row-h-center {
    justify-content: center;
}

.p-grid {

}

/*
UI Elements
================================================================================
*/

/*
Button
================================================================================
*/

.p-button {

}

/*
Input
================================================================================
*/

.p-input {

}

/*
Textarea
================================================================================
*/

.p-textarea {

}

/*
Button Select
================================================================================
*/

.p-button-select {

}

/*
Dropdown
================================================================================
*/

.p-dropdown {

}

.p-dropdown-menu {

}