<div id="{{ id }}__modal-container" class="p-modal-container">
    <div id="{{ id }}__modal-modal" class="p-modal">
        <button id="{{ id }}__modal-close-button" class="p-modal-close-button">
            <svg class="p-modal-close-button-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
            </svg>
        </button>
        <div class="p-modal-content">
            {% block modal_content %}
            {% endblock %}
        </div>
    </div>
</div>