@import url('https://fonts.googleapis.com/css2?family=Cousine:ital,wght@0,400;0,700;1,400;1,700&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@font-face {
    font-family: 'AllianceNo2';
    src: url('/static/font/AllianceNo2-Regular.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
    font-feature-settings: "ss04";
}

.alliance01 {
    font-family: 'AllianceNo2';
    font-feature-settings: "ss01", "ss02";
}

.alliance02 {
    font-family: 'AllianceNo2';
    font-feature-settings: "ss01", "ss02", "ss03", "ss04";
    font-weight: 600;
}

.sourceCodePro {
    font-family: 'Source Code Pro', monospace;
}

* {
    scroll-behavior: smooth;
}

html, 
body {
    background-color: var(--tf-black-200);
    cursor: url('/static/img/cursor.png') 16 16, auto;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

/*
Backgrounds
================================================================================
*/

.background__fire,
.background__water {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

.background__water {
    opacity: 0;
}

.background__fire::after {
    content: '';
    background: linear-gradient(
        to bottom,
        rgba(18, 18, 18, 0) 0%,
        rgba(18, 18, 18, 0.125) 25%,
        rgba(18, 18, 18, 0.45) 50%,
        rgba(18, 18, 18, 0.9) 75%,
        rgba(18, 18, 18, 1) 100%
    );
    pointer-events: none;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    filter: 'contrast(0)'
}

.background__water::after {
    content: '';
    background: linear-gradient(
        to bottom,
        rgba(18, 18, 18, 1) 0%,
        rgba(18, 18, 18, 0.9) 25%,
        rgba(18, 18, 18, 0.45) 50%,
        rgba(18, 18, 18, 0.125) 75%,
        rgba(18, 18, 18, 0) 100%
    );
    pointer-events: none;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

/*
Nav
================================================================================
*/

.nav__background,
.nav {
    height: 3rem;
    padding: 0rem 4rem;
    width: calc(100vw - 8rem);
    top: 0;
    left: 0;
    position: relative;
}

.nav__background {
    --mask: linear-gradient(to bottom, 
        rgba(0,0,0, 1) 0,   rgba(0,0,0, 1) 40%, 
        rgba(0,0,0, 0) 95%, rgba(0,0,0, 0) 0
    ) 100% 50% / 100% 100% repeat-x;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -webkit-mask: var(--mask); 
    mask: var(--mask);
    z-index: 998;
}

.nav {
    z-index: 999;
}

.nav__link {
    color: var(--tf-black-1000);
    cursor: url('/static/img/cursor.png') 16 16, auto;
    font-size: 0.75rem;
    font-weight: 400;
    margin-right: 1.125rem;
    text-decoration: none;
    transition: color var(--tf-duration);
}

.nav__link:last-child {
    margin-right: 0;
}

.nav__link:hover {
    cursor: url('/static/img/cursor.png') 16 16, auto;
    color: var(--tf-black-1200);
    text-decoration: none;
}

/*
Graphic
================================================================================
*/

@keyframes graphicContainerFadeIn {
    from {
        opacity: 0;
        transform: translateY(25%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.graphic__container {
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 998;
}

.graphic__wrapper {
    animation: graphicContainerFadeIn 0.875s ease-in-out forwards;
    height: 100%;
    width: 100%
}

/*
Pages
================================================================================
*/

.about,
.experience,
.projects,
.footer {
    display: flex;
    width: calc(100vw - 4rem);
    z-index: 998; 
    position: relative;
}

/*
About
================================================================================
*/

.about {
    --padding: 4rem;
    align-items: center;
    display: flex;
    height: 100vh;
    padding: 0 4rem;
    width: 100%;
    z-index: 997;
    position: absolute;
    top: 100vh;
    left: 0;
}

.about__description__container,
.about__images__container {
    aspect-ratio: 2 / 1;
    font-size: 1.175rem;
    width: calc(50% - 4rem);
    z-index: 998;
}

.about__description__container {
    opacity: 0;
    width: calc(45% - 8rem);
}

.about__images__container {
    display: flex;
    justify-content: center;
    margin: 0 0 0 4rem;
    width: calc(55% - 4rem);
    align-items: center;
    justify-content: center;
}

.about__image {
    border-radius: 1rem;
    object-fit: cover;
}

.text__margin__lg {
    margin: 0 0 2rem 0;
}

.text__margin__md {
    margin: 0 0 1rem 0;
}

.text__margin__sm {
    margin: 0 0 .5rem 0;
}

.text__h1 {
    color: var(--tf-white-200) !important;
    font-size: 2.25rem;
    font-style: italic;
    font-weight: 800;
    
}

.text__h2 {
    color: var(--tf-white-200) !important;
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 800;
}

.text__h2__link {
    cursor: url('/static/img/cursor.png') 16 16, auto;
    color: var(--tf-black-1200);
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
    transition: color var(--tf-duration);
}

.text__h2__link:hover {
    cursor: url('/static/img/cursor.png') 16 16, auto;
    color: var(--tf-black-1600);
    text-decoration: none;
}

.text__p {
    color: var(--tf-white-200) !important;
    font-size: 1rem;
    line-height: 1.5rem;
}

.text__p2 {
    color: var(--tf-black-1200) !important;
}

/*
Experience
================================================================================
*/

.experience__projects__container {
    z-index: 997;
    position: absolute;
    top: 400vh;
    left: 0;
}

.experience {
    align-items: center;
    display: flex;
    width: 100vw;
}

.experience__wrapper {
    border-top: 1px solid var(--tf-black-600);
    display: flex;
    width: 100%;
    margin: 0 4rem;
    padding: 3rem 0 0 0;
    height: 100%;
}

.experience__title {
    width: 45%;
}

.experience__positions {
    width: 55%;
}

.experience__card {
    position: relative;
    opacity: 0;
    margin: 0 0 2rem 0;
}

.experience__card__row {
    display: flex;
    justify-content: space-between;
}


@keyframes experience-card-animate {
    0% {
        opacity: 0;
        transform: translateX(-5%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

.experience__card.animate {
    animation: experience-card-animate .5s ease-in-out forwards;
}

/*
Footer
================================================================================
*/

.footer {

}
