:root {
    --white: #eeece1;
    --black: #131417;
    --medium-gray: #6a6d75;
}

html,
body {
    background-color: var(--black);
    margin: 0;
}

.landing {
    --h-padding: 15rem;
    --v-padding: 1rem;
    display: flex;
    flex-direction: column;
    padding: var(--v-padding) var(--h-padding);
    height: calc(100vh - var(--v-padding) * 2);
    width: calc(100vw - var(--h-padding) * 2);
}

.landing__quote__container {
    flex: 1;
}

.landing__scroll-indicator__container {
    display: flex;
    justify-content: center;
    height: 2rem;
    width: 100%;
}

.landing__scroll-indicator {
    height: 2rem;
    width: 2rem;
}

.landing__scroll-indicator > line {
    fill: none;
    stroke: var(--medium-gray);
    stroke-linecap: round;
    stroke-miterlimit: 10;
    stroke-width: 1px;
}

@keyframes lsi-anim-1 {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

.landing__scroll-indicator__anim-1 {
    opacity: 0;
    animation: lsi-anim-1 2s ease-in-out infinite;
}

@keyframes lsi-anim-2 {
    10% { opacity: 0; }
    60% { opacity: 1; }
    100% { opacity: 0; }
}

.landing__scroll-indicator__anim-2 {
    opacity: 0;
    animation: lsi-anim-2 2s ease-in-out infinite;
}

@keyframes lsi-anim-3 {
    20% { opacity: 0; }
    70% { opacity: 1; }
    100% { opacity: 0; }
}

.landing__scroll-indicator__anim-3 {
    opacity: 0;
    animation: lsi-anim-3 2s ease-in-out infinite;
}

.nav {
    --h-padding: 15rem;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    height: 3.5rem;
    display: flex;
    opacity: 0;
    padding: 0 var(--h-padding);
    width: calc(100vw - var(--h-padding) * 2);
}

@keyframes nav-anim {
    0% { 
        opacity: 0;
        transform: translateY(-16px);
    }
    75% {
        transform: translateY(0px);
    }
    100% { 
        opacity: 1; 
    }
}

.nav__fade-in {
    animation: nav-anim .75s ease-in-out forwards;
}

.nav__brand__container,
.nav__menu__container {
    display: flex;
    align-items: center;
}

@keyframes shake {
    0% { transform: translate(.2px, .2px) rotate(0deg); }
    10% { transform: translate(-.2px, -.4px) rotate(-1deg); }
    20% { transform: translate(-.6px, 0px) rotate(1deg); }
    30% { transform: translate(.6px, .4px) rotate(0deg); }
    40% { transform: translate(.2px, -.2px) rotate(1deg); }
    50% { transform: translate(-.2px, .4px) rotate(-1deg); }
    60% { transform: translate(-.6px, .2px) rotate(0deg); }
    70% { transform: translate(.6px, .2px) rotate(-1deg); }
    80% { transform: translate(-.2px, -.2px) rotate(1deg); }
    90% { transform: translate(.2px, .4px) rotate(0deg); }
    100% { transform: translate(.2px, -.4px) rotate(-1deg); }
}

.nav__brand__image {
    height: 1rem;
    margin-right: .75rem;
}

.nav__brand__image:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

.nav__brand {
    color: var(--white);
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    font-style: italic;
    font-size: 1.25rem;
}

.nav__menu__button {
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    margin: 0;
    padding: 0;
    width: 1.25rem;
    height: 1.25rem;
}

.nav__menu__button__icon {
    height: 1.25rem;
    width: 1.25rem;
}

.nav__menu__button__icon > line {
    fill: none;
    stroke: var(--white);
    stroke-linecap: round;
    stroke-miterlimit: 10;
    stroke-width: 3px;
}

.test {
    width: 100vw;
    height: 100vh;
}