:root {
    --white: #f7f5eb;
    --black: #131417;
    --dark-gray: #404248;
}

html,
body {
    background-color: var(--black);
    margin: 0;
}

.landing {
    --h-padding: 15rem;
    --v-padding: 1rem;
    display: flex;
    flex-direction: column;
    padding: var(--v-padding) var(--h-padding);
    height: calc(100vh - var(--v-padding) * 2);
    width: calc(100vw - var(--h-padding) * 2);
}

.landing__quote__container {
    flex: 1;
}

.landing__scroll-indicator__container {
    display: flex;
    justify-content: center;
    height: 2rem;
    width: 100%;
}

.landing__scroll-indicator {
    height: 2rem;
    width: 2rem;
}

.landing__scroll-indicator > line {
    fill: none;
    stroke: var(--dark-gray);
    stroke-linecap: round;
    stroke-miterlimit: 10;
    stroke-width: 1px;
}

@keyframes lsi-anim-1 {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

.landing__scroll-indicator__anim-1 {
    opacity: 0;
    animation: lsi-anim-1 2s ease-in-out infinite;
}

@keyframes lsi-anim-2 {
    10% { opacity: 0; }
    60% { opacity: 1; }
    100% { opacity: 0; }
}

.landing__scroll-indicator__anim-2 {
    opacity: 0;
    animation: lsi-anim-2 2s ease-in-out infinite;
}

@keyframes lsi-anim-3 {
    20% { opacity: 0; }
    70% { opacity: 1; }
    100% { opacity: 0; }
}

.landing__scroll-indicator__anim-3 {
    opacity: 0;
    animation: lsi-anim-3 2s ease-in-out infinite;
}