:root {
    --white: #fafafa;
    --black: #151515;
}
  
html,
body {
    background: var(--white);
    margin: 0;
    padding: 0;
}

.welcome__section {
    height: 100vh;
    padding: 2rem;
    width: 100vw;
}

.welcome__graphic__container {
    background: var(--white);
    border: 1px solid var(--black);
    height: calc(50vh - 2rem);
    overflow: hidden;
    width: calc(100vw - 4rem);
}

.welcome__graphic {
    height: 100%;
    opacity: 0.5;
    width: calc(100vw - 4rem);
}

.welcome__greeting {
    display: block;
    font-family: 'Figtree', sans-serif;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 3.5rem;
    margin: 2rem 0 0 0;
    width: fit-content;
}