:root {
    /* dynamic styling */
    --p-sm-bk: 465px;
    --p-md-bk: 768px;
    --p-lg-bk: 1024px;
    --p-xl-bk: 1400px;

    --p-sm-mg: 2rem;
    --p-md-mg: 4rem;
    --p-lg-mg: 8rem;
    --p-xl-mg-h: 20rem;

    --p-xl-mg-v: 8rem;
    
    /* black shades */
    --p-black-0: #070707;
    --p-black-1: #1e1e1e;
    --p-black-2: #2c2c2c;

    --black-0: #0f0f0f;
    --black-1: #1b1b1b;
    --black-2: #242424;
    --black-3: #2c2c2c;
    --black-4: #363636;
    --black-5: #5e5e5e;
  
    --white-tint: #f5f3f3;
    --black: #131313;
    --gray: #e1e1e1;
    --gray-shade: #939395;
    --light-gray: #e2e2e4;
    --light-gray-shade: #cacacd;
    --red: #d04a4a;
    --red-shade: #b03f3f;
    --green: #4ad067;
    --blue: #355ab2;
}

/*
Breakpoint
================================================================================
*/

.p-page {
    display: flex;
    flex-direction: column;
}

.p-page.p-v-fl {
    justify-content: center;
}

@media screen and (max-width: 465px) {
    .p-page {
        height: calc(100vh - 2 * var(--p-sm-mg-v));
        padding: var(--p-sm-mg-v) var(--p-sm-mg);
        width: calc(100vw - 2 * var(--p-sm-mg-h));
    }

    .p-page.p-v-fl {
        padding: 0 var(--p-sm-mg);
    }
}

@media screen and (max-width: 768px) {
    .p-page {
        height: calc(100vh - 2 * var(--p-md-mg-v));
        padding: var(--p-md-mg-v) var(--p-md-mg);
        width: calc(100vw - 2 * var(--p-md-mg-h));
    }

    .p-page.p-v-fl {
        padding: 0 var(--p-md-mg);
    }
}

@media screen and (max-width: 1024px) {
    .p-page {
        height: calc(100vh - 2 * var(--p-lg-mg-v));
        padding: var(--p-lg-mg-v) var(--p-lg-mg-h);
        width: calc(100vw - 2 * var(--p-lg-mg-h));
    }

    .p-page.p-v-fl {
        padding: var(--p-lg-mg-v) var(--p-lg-mg);
    }
}

@media screen and (max-width: 1930px) {
    .p-page {
        height: calc(100vh - 2 * var(--p-xl-mg-v));
        padding: var(--p-xl-mg-v) var(--p-xl-mg-h);
        width: calc(100vw - 2 * var(--p-xl-mg-h));
    }

    .p-page.p-v-fl {
        height: 100vh;
        padding: 0 var(--p-xl-mg-h);
    }
}

/*
Layouts
================================================================================
*/

.p-grow {
    flex-grow: 1;
}

.p-col,
.p-row,
.p-col-fl,
.p-row-fl {
    display: flex;
    height: fit-content;
    position: relative;
}

.p-col-fl {
    height: 100%;
}

.p-row-fl {
    width: 100%;
}

.p-col-fl,
.p-col {
    flex-direction: column;
}

.p-col-v-center {
    justify-content: center;
}

.p-col-h-start {
    align-items: flex-start;
}

.p-row-v-start {
    align-items: flex-start;
}

.p-row-v-end {
    align-items: flex-end;
}

.p-row-v-center {
    align-items: center;
}

.p-row-h-start {
    justify-content: flex-start;
}

.p-row-h-end {
    justify-content: flex-end;
}

.p-row-h-space-between {
    justify-content: space-between;
}

.p-row-h-center  {
    justify-content: center;
}

.p-grid {

}

/*
Spacing
================================================================================
*/

.p-mg-b-xxs { 
    margin-bottom: .375rem;
}

.p-mg-b-xs { 
    margin-bottom: .75rem;
}

.p-mg-b-sm {
    margin-bottom: 1rem;
}

.p-mg-b-md {
    margin-bottom: 1.5rem;
}

.p-mg-b-lg {
    margin-bottom: 2rem;
}

.p-mg-t-xxs {
    margin-top: .375rem;
}

.p-mg-t-xs {
    margin-top: .75rem;
}

.p-mg-t-sm {
    margin-top: 1rem;
}

.p-mg-r-xxs { 
    margin-right: .375rem;
}

.p-mg-r-xs { 
    margin-right: .75rem;
}

.p-mg-r-sm {
    margin-right: 1rem;
}

.p-mg-r-md {
    margin-right: 1.5rem;
}

.p-mg-r-lg {
    margin-right: 2rem;
}

.p-mg-l-xxs { 
    margin-left: .375rem;
}

.p-mg-l-xs { 
    margin-left: .75rem;
}

.p-mg-l-sm {
    margin-left: 1rem;
}

.p-mg-l-md {
    margin-left: 1.5rem;
}

.p-mg-l-lg {
    margin-left: 2rem;
}

/*
UI Elements
================================================================================
*/

/*
Text
================================================================================
*/

.p-h1 {
    color: white;
    font-family: 'Moderustic', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    text-align: center; 
}

.p-h2 {
    color: white;
    font-family: 'Moderustic', sans-serif;
    font-size: 1.75rem;
    font-weight: 500;
    text-align: center; 
}

.p-h4 {
    color: white;
    font-family: 'Moderustic', sans-serif;
    font-size: 1.125rem;
    font-weight: 500;
}

.p-text-sm,
.p-link-sm {
    font-family: 'Moderustic', sans-serif;
    font-size: .875rem;
}

.p-text-sm {
    color: white;
}

.p-link-sm {
    color: var(--red);
    text-decoration: none;
}

.p-text-md-white {
    color: white;
    font-family: 'Moderustic', sans-serif;
    font-size: 1rem;
}

.p-text-md-black {
    color: var(--black-5);
    font-family: 'Moderustic', sans-serif;
    font-size: 1rem;
}

.p-text-md-gray {
    color: var(--light-gray);
    font-family: 'Moderustic', sans-serif;
    font-size: 1rem;
}

.p-text-xs-gray {
    color: var(--gray-shade);
    font-family: 'Moderustic', sans-serif;
    font-size: .75rem;
}

/*
Input
================================================================================
*/

.p-input {
    background: transparent !important;
    border: 1px solid var(--black-4);
    border-radius: .375rem;
    box-sizing: border-box;
    color: white;
    display: block;
    font-size: .875rem;
    font-family: 'Moderustic', sans-serif;
    height: 2.75rem;
    padding: 0 .725rem;
    width: 100%;
}

.p-input:focus {
    background-color: transparent !important;
    border-color: var(--red);
    color: var(--red);
    outline: none;
}

.p-input:focus ~ .p-input-label {
    color: var(--red);
    font-size: .625rem;
    top: 2px;
}

.p-input:not(:placeholder-shown) ~ .p-input-label {
    color: var(--gray-shade);
    font-size: .625rem;
    top: 2px;
}

.p-input-label {
    color: var(--gray-shade);
    font-family: 'Moderustic', sans-serif;
    font-size: .875rem;
    font-weight: normal;
    left: .49rem;
    padding: 0 5px;
    pointer-events: none;
    position: absolute;
    top: 13px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.p-input-toast {
    color: var(--red);
    font-size: .875rem;
    font-family: 'Moderustic', sans-serif;
    margin: .375rem 0 .125rem .25rem;
}

.p-input-check {
    display: none;
    fill: var(--green);
    height: 1.125rem;
    right: 1rem;
    position: absolute;
    top: .875rem;
    width: 1.125rem;
}

.p-input-sm {
    background: transparent;
    border: 1px solid var(--gray-shade);
    border-radius: .375rem;
    box-sizing: border-box;
    color: white;
    display: block;
    font-size: .875rem;
    font-family: 'Moderustic', sans-serif;
    height: 1.75rem;
    margin: 0 0 .75rem 0;
    padding: 0 .725rem;
    width: 20rem;
}

.p-input-sm:focus {
    border-color: var(--red);
    color: var(--red);
    outline: none;
}

.p-input-sm[type=number]{
    -moz-appearance: textfield;
}

.p-input-sm::-webkit-outer-spin-button,
.p-input-sm::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/*
Button
================================================================================
*/

.p-button,
.p-button-red {
    align-items: center;
    border: none;
    border-radius: .375rem;
    color: white;
    cursor: pointer;
    display: flex;
    font-family: 'Moderustic', sans-serif;
    font-size: .875rem;
    font-weight: 500;
    height: fit-content;
    padding: .5rem .675rem;
    width: fit-content;
    text-decoration: none;
}

.p-button:hover,
.p-button-red:hover {
    text-decoration: none;
}

.p-button {
    background-color: var(--black-2);
}

.p-button:hover {
    background-color: var(--black-3);
}

.p-button-red {
    background-color: var(--red);
}

.p-button-red:hover {
    background-color: var(--red-shade);
}

/*
Textarea
================================================================================
*/

.p-textarea {
    background: transparent;
    border: 1px solid var(--gray-shade);
    border-radius: .375rem;
    box-sizing: border-box;
    color: white;
    display: block;
    font-size: .875rem;
    font-family: 'Moderustic', sans-serif;
    height: 8rem;
    margin: 0 0 .75rem 0;
    padding: .5rem .75rem;
    resize: none;
    width: 100%;
}

.p-textarea:focus {
    border-color: var(--red);
    color: var(--red);
    outline: none;
}

/*
Button Select
================================================================================
*/

.p-button-select {
    background-color: var(--black-2);
    border: none;
    border-radius: .375rem;
    color: white;
    cursor: pointer;
    font-family: 'Moderustic', sans-serif;
    font-size: .875rem;
    font-weight: 500;
    margin: .5rem .5rem .75rem 0;
    padding: .375rem .675rem;
    width: fit-content;
}

.p-button-select:hover {
    background-color: var(--black-3);
}

.p-button-select-selected {
    background-color: var(--red);
}

.p-button-select-selected:hover {
    background-color: var(--red);
}

/*
Dropdown
================================================================================
*/

.p-dropdown {
    
}

.p-dropdown-menu {
    background-color: var(--black-2);
    border: 1px solid var(--black-3);
    border-radius: .375rem;
    opacity: 0;
    padding: .25rem;
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
}

@keyframes p-dropdown-menu-fade-in-anim {
    0% {
        opacity: 0;
        transform: translateY(-5%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

.p-dropdown-menu-fade-in {
    animation: p-dropdown-menu-fade-in-anim .125s ease-in-out forwards;
}

@keyframes p-dropdown-menu-fade-out-anim {
    0% {
        opacity: 1;
        transform: translateY(0%);
    }
    100% {
        opacity: 0;
        transform: translateY(-5%);
    }
}

.p-dropdown-menu-fade-out {
    animation: p-dropdown-menu-fade-out-anim .125s ease-in-out forwards;
}

.p-dropdown-button {
    background-color: var(--black-2);
    border-radius: .25rem;
    color: white;
    cursor: pointer;
    font-family: 'Moderustic';
    font-size: .875rem;
    padding: 0.375rem .5rem;
    width: 100%;
    text-decoration: none;
}

.p-dropdown-button:hover {
    background-color: vaR(--black-3);
}