<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Michael Vaden</title>
        <meta name="description" content="short description">
        <meta name="keywords" content="1, 2, 3">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/index.css">
    </head>
    <body>
        <nav class="nav">
            <div class="nav__brand__container">
                <img class="nav__brand__image" src="/svg/pear_white.svg"/>
                <div class="nav__brand">Michael Vaden</div>
            </div>
            <div class="nav__menu__container">
                <button class="nav__menu__button">
                    <svg class="nav__menu__button__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 26">
                        <line x1="2.5" y1="1" x2="29.5" y2="1"/>
                        <line x1="5.5" y1="13" x2="26.5" y2="13"/>
                        <line x1="2.5" y1="25" x2="29.5" y2="25"/>
                    </svg>
                </button>
            </div>
        </nav>
        <section class="landing__graphic"></section>
        <section class="landing">
            <div class="landing__scroll-indicator__container">
            </div>
            <div class="landing__quote__container">
                <div class="landing__quote">
                    “do it squirt”
                </div>
                <div class="landing__quote__citation">
                    - Noah
                </div>
            </div>
            <div class="landing__scroll-indicator__container">
                <svg class="landing__scroll-indicator" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33.66 38.05">
                    <line class="landing__scroll-indicator__anim-3" x1="1.25" y1="25.25" x2="16.83" y2="36.8"/>
                    <line class="landing__scroll-indicator__anim-3" x1="32.41" y1="25.25" x2="16.83" y2="36.8"/>
                    <line class="landing__scroll-indicator__anim-2" x1="1.25" y1="13.25" x2="16.83" y2="24.8"/>
                    <line class="landing__scroll-indicator__anim-2" x1="32.41" y1="13.25" x2="16.83" y2="24.8"/>
                    <line class="landing__scroll-indicator__anim-1" x1="1.25" y1="1.25" x2="16.83" y2="12.8"/>
                    <line class="landing__scroll-indicator__anim-1" x1="32.41" y1="1.25" x2="16.83" y2="12.8"/>
                </svg>
            </div>
        </section>
        <section class="test"></section>
        <section class="test"></section>
        <script src="/js/index.js"></script>
    </body>
</html>