<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Michael Vaden</title>
        <meta name="description" content="short description">
        <meta name="keywords" content="1, 2, 3">
        <link rel="stylesheet" href="/css/index.css">
    </head>
    <body>
        <section class="landing">
            <div class="landing__scroll-indicator__container">
                dsaf
            </div>
            <div class="landing__quote__container">
                asdf
            </div>
            <div class="landing__scroll-indicator__container">
                <svg class="landing__scroll-indicator" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33.66 38.05">
                    <line class="landing__scroll-indicator__anim-3" x1="1.25" y1="25.25" x2="16.83" y2="36.8"/>
                    <line class="landing__scroll-indicator__anim-3" x1="32.41" y1="25.25" x2="16.83" y2="36.8"/>
                    <line class="landing__scroll-indicator__anim-2" x1="1.25" y1="13.25" x2="16.83" y2="24.8"/>
                    <line class="landing__scroll-indicator__anim-2" x1="32.41" y1="13.25" x2="16.83" y2="24.8"/>
                    <line class="landing__scroll-indicator__anim-1" x1="1.25" y1="1.25" x2="16.83" y2="12.8"/>
                    <line class="landing__scroll-indicator__anim-1" x1="32.41" y1="1.25" x2="16.83" y2="12.8"/>
                </svg>
            </div>
        </section>
    </body>
</html>