<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Michael Vaden</title>
        <meta name="description" content="short description">
        <meta name="keywords" content="1, 2, 3">
        <link rel="stylesheet" href="/css/index.css">
    </head>
    <body>
        <section class="landing">
            <div class="landing__scroll-indicator__container">
                dsaf
            </div>
            <div class="landing__quote__container">
                dsafs
            </div>
            <div class="landing__scroll-indicator__container">
                dsaf
            </div>
        </section>
    </body>
</html>