{% load static %}
<!DOCTYPE html>
<html>
    {% include 'partials/head.html' %}
    <body>
        {% include 'partials/nav.html' %}
        <div class="background__fire">
            <canvas></canvas>
        </div>
        <div class="background__water">
            <canvas></canvas>
        </div>
        <div class="index">
            {% include 'partials/graphic.html' %}
            {% include 'partials/about.html' %}
            <div class="experience__projects__container">
                {% include 'partials/experience.html' %}
                {% include 'partials/projects.html' %}
                {% include 'partials/footer.html' %}
            </div>
        </div>
        <div class="about-page">
        </div>
    </body>
</html>