{% load static %}
<!DOCTYPE html>
<html>
    {% include 'partials/head.html' %}
    <body>
        {% include 'partials/nav.html' %}
        {% include 'partials/background.html' %}
        <div class="index-page">
            {% include 'partials/graphic.html' %}
            {% include 'partials/about.html' %}
            {% include 'partials/experience.html' %}
            {% include 'partials/projects.html' %}
            {% include 'partials/footer.html' %}
        </div>
    </body>
</html>