<section class="about">
    <div class="about__description__container">
        <div class="text__h1 text__margin__md alliance02">Salutations</div>
        <div class="text__p text__margin__md sourceCodePro">
            &emsp;I'm Michael, a 4th year at Georgia Tech studying Computer Science with a concentration in Intelligence and Systems Architecture. From early on I've been drawn to technology, and I've harbored a lifelong passion for tinkering. I would tinker—because I have an insatiable need to understand how things work.
        </div>
        <div class="text__p text__margin__md sourceCodePro">
            I've built my own guitar, I fix my own car, and I've coded numerous personal apps that live quietly on my devices (and a few that are out there in the world). My endeavors in my field have allowed me to experiment in diverse areas of Computer Science from full-stack web programming and UI design to systems programming to graphics programming.
        </div>
        <div class="text__p text__margin__md sourceCodePro">
            When I'm not at work or study, I can be found exploring music, traveling to far reaching areas of the world, reading some classics, and watching Studio Ghibli films.
        </div>
    </div>
    <div class="about__images__container">
        <img class="about__image" src="/static/img/3.png" />
    </div>
</section>