{% extends 'partials/modal.html' %}
{% load static %}
{% block modal_content %}
<div class="p-col">
    <div class="p-row p-row-h-center">
        <div class="p-h4">Connect a Wallet</div>
    </div>
    <div class="p-row p-row-h-center p-mg-t-xxs">
        <div class="p-modal-description">By connecting your wallet you agree to our Terms and Services.</div>
    </div>
    <div class="p-row p-mg-t-xs">
        <button id="metamask-connect" class="p-modal-button">
            <img src="{% static 'img/metamask_logo.svg' %}" />
            <span class="p-mg-l-xs">MetaMask</span>
        </button>
    </div>
    <div class="p-row p-mg-t-xxs">
        <button id="walletconnect-connect" class="p-modal-button">
            <img src="{% static 'img/walletconnect_logo.svg' %}" />
            <span class="p-mg-l-xs">WalletConnect</span>
        </button>
    </div>
    <div class="p-row p-mg-t-xxs">
        <button id="coinbasewallet-connect" class="p-modal-button">
            <img src="{% static 'img/cbw_logo.svg' %}" />
            <span class="p-mg-l-xs">Coinbase Wallet</span>
        </button>
    </div>
</div>  
{% endblock %}