<div class="experience">
    <div class="experience__wrapper">
        <div class="experience__title">
            <div class="experience__card">
                <div class="alliance02 text__h2 text__margin__sm">
                    Experience
                </div>
                <a href="/michael_vaden_resume.pdf" class="sourceCodePro text__h2__link">
                    CV
                </a>
            </div>
        </div>
        <div class="experience__positions">
            <div class="experience__card text__margin__lg">
                <div class="experience__card__row text__margin__sm">
                    <div class="alliance02 text__p">
                        Delta Air Lines
                    </div>
                    <div class="sourceCodePro text__p2">
                        2023-2025
                    </div>
                </div>
                <div class="experience__card__row">
                    <div class="sourceCodePro text__p2 text__margin__sm">
                        ACS Tools and Tech, Data Analytics Co-Op
                    </div>
                </div>
            </div>
            <div class="experience__card text__margin__lg">
                <div class="experience__card__row text__margin__sm">
                    <div class="alliance02 text__p">
                        Georgia Advanced Computer Resource Center @ UGA
                    </div>
                    <div class="sourceCodePro text__p2">
                        2022-2023
                    </div>
                </div>
                <div class="experience__card__row">
                    <div class="sourceCodePro text__p2 text__margin__sm">
                        SWE / HPC Intern
                    </div>
                </div>
            </div>
            <div class="experience__card text__margin__lg">
                <div class="experience__card__row text__margin__sm">
                    <div class="alliance02 text__p">
                        Black Dog Customs
                    </div>
                    <div class="sourceCodePro text__p2">
                        2020-2022
                    </div>
                </div>
                <div class="experience__card__row">
                    <div class="sourceCodePro text__p2 text__margin__sm">
                        Automotive Electronics Design
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>