<div class="nav__background tf-fixed tf-row"></div>
<nav class="nav tf-fixed tf-row tf-justify-space-between tf-hidden tf-layer-fixed">
    <div class="tf-row tf-align-center">
        <a tf-href="" class="nav__link alliance02">MICHAEL VADEN</a>
    </div>
    <div class="tf-row tf-align-center">
        <a tf-href="about" class="nav__link alliance02">ABOUT</a>
        <a tf-href="shelf" class="nav__link alliance02">SHELF</a>
        <a href="cv" class="nav__link alliance02">CV</a>
    </div>
</nav>