<div class="experience">
    <div class="experience__wrapper">
        <div class="experience__title">
            <div class="experience__card">
                <div class="alliance02 text__h2 text__margin__sm">
                    Projects
                </div>
                <a href="/michael_vaden_resume.pdf" class="sourceCodePro text__h2__link">
                    GitHub
                </a>
            </div>
        </div>
        <div class="experience__positions">
            <div class="experience__card text__margin__lg">
                <div class="experience__card__row text__margin__sm">
                    <div class="alliance02 text__p">
                        Georgia Tech IFC Website
                    </div>
                    <div class="sourceCodePro text__p2">
                        TypeScript, Django
                    </div>
                </div>
                <div class="experience__card__row">
                    <div class="sourceCodePro text__p2 text__margin__sm">
                        ACS Tools and Tech, Data Analytics Co-Op
                    </div>
                </div>
            </div>
            <div class="experience__card text__margin__lg">
                <div class="experience__card__row text__margin__sm">
                    <div class="alliance02 text__p">
                        Taffy
                    </div>
                    <div class="sourceCodePro text__p2">
                        TypeScript, CSS
                    </div>
                </div>
                <div class="experience__card__row">
                    <div class="sourceCodePro text__p2 text__margin__sm">
                        A stretchy little UI framework
                    </div>
                </div>
            </div>
            <div class="experience__card text__margin__lg">
                <div class="experience__card__row text__margin__sm">
                    <div class="alliance02 text__p">
                        Blam
                    </div>
                    <div class="sourceCodePro text__p2">
                        Assembly, LLVM
                    </div>
                </div>
                <div class="experience__card__row">
                    <div class="sourceCodePro text__p2 text__margin__sm">
                        Explorations in creating my own programming language
                    </div>
                </div>
            </div>
            <div class="experience__card text__margin__lg">
                <div class="experience__card__row text__margin__sm">
                    <div class="alliance02 text__p">
                        Lexi
                    </div>
                    <div class="sourceCodePro text__p2">
                        C++
                    </div>
                </div>
                <div class="experience__card__row">
                    <div class="sourceCodePro text__p2 text__margin__sm">
                        Library for lexical tokenization
                    </div>
                </div>
            </div>
            <div class="experience__card text__margin__lg">
                <div class="experience__card__row text__margin__sm">
                    <div class="alliance02 text__p">
                        Djinn
                    </div>
                    <div class="sourceCodePro text__p2">
                        Rust, Ollama
                    </div>
                </div>
                <div class="experience__card__row">
                    <div class="sourceCodePro text__p2 text__margin__sm">
                        CLI for AI code generation
                    </div>
                </div>
            </div>
            <div class="experience__card text__margin__lg">
                <div class="experience__card__row text__margin__sm">
                    <div class="alliance02 text__p">
                        Personal Website
                    </div>
                    <div class="sourceCodePro text__p2">
                        Three.js, Blender, WebGL
                    </div>
                </div>
                <div class="experience__card__row">
                    <div class="sourceCodePro text__p2 text__margin__sm">
                        (This website)
                    </div>
                </div>
            </div>
            <div class="experience__card text__margin__lg">
                <div class="experience__card__row text__margin__sm">
                    <div class="alliance02 text__p">
                        GACRC Portal
                    </div>
                    <div class="sourceCodePro text__p2">
                        Django, CAS, Slurm
                    </div>
                </div>
                <div class="experience__card__row">
                    <div class="sourceCodePro text__p2 text__margin__sm">
                        Web app for researches at the University of Georgia to provision HPC clusters
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>